@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Colorful.Web.Models.ColorIndexViewModel
@{
    ViewData["Title"] = "Guild Selector";
}

<style>
    .serverGrid {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
    }

    .serverGrid > a {
        color: black;
        text-align: center;
        text-decoration: none;
    }

    .title {
        text-align: center;
        flex-direction: column;
    }

    .server-icon {
        max-height:128px;
        max-width:128px;
    }

    img {
        border-radius: 15%;
    }

    .row {
        padding-bottom: 1em;
    }
</style>

<div class="col-12">
    <div class="row justify-content-center title">
        <h1 class="display-4 text-light">Choose a Server</h1>
        <span class="lead text-light">Cant see your server? Check the bot's permissions!</span>
    </div>

    <div class="row justify-content-center">

        <div class="container serverGrid">
            @foreach (var server in Model.Guilds)
            {
                <a href="/color/guild/@server.Id">
                    <div>
                        <div class="d-flex justify-content-center">
                            <img class="server-icon" src="@server.IconUrl" />
                        </div>
                        <div>
                            <span class="lead text-light" style="text-align:center;">@server.Name</span>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
