@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/img/colorbotlogo.png" style="width: 20em; height:20em;" />
    <p class="display-1 text-light">Colorful</p>
    <p style="padding-bottom:2em;" class="lead text-light">A lightweight Discord color bot.</p>
    <div>
        <a class="btn btn-primary" asp-action="Invite" asp-controller="Home">Invite to Server</a>
        <a class="btn btn-primary" asp-action="About" asp-controller="Home">About</a>
    </div>

</div>
